h1 {
	font-family: Open Sans,sans-serif;
	text-align: center;
	color: #2e3d49;
}
div {
	background-color: #153A4A;
	border-radius: 50px;
	max-width: 900px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 25px
}
.blocksection	{
	font-family: Open Sans,sans-serif; 
	text-align: center;
	background-color: #C77F18;
	color: #ffffff;	
	margin: auto;
	margin-top: 10px;
	margin-bottom: 25px;
	max-width: 750px;
	padding-top: 2em;
	padding-bottom: 0.5em;
}
.bsectiontitle	{
	text-align: center;
	font-size: 35px;
	background-color: #153A4A;
	margin: auto;
	max-width: 200px;
}
.textsection	{
	font-family: Open Sans,sans-serif;
	font-weight: bold;	
	text-align: center;
	letter-spacing: 1.5px;
	background-color: inherit;
	color: #F7F3EB;
	margin: auto;
	max-width: 650px;
	padding-left: 10px;
	padding-right: 10px;

}
.codeexample {
	background-color : #5e5d5a;
	font: 1em "Open Sans", courier;
	padding-left:2em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	width: auto;
	max-width: 550px;
	color: #ffffff;
	text-align: left;
	margin: auto;
	border-radius: 10px
}
/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */